/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    margin-top: 20px;
  }
  
  .images-container {
    margin-top: 30px;
  }
  
  #pokemon-image {
    width: 200px;
    height: 200px;
    filter: grayscale(100%) blur(5px); /* Silhueta inicial */
    transition: filter 0.5s ease; /* Transição suave quando revelado */
  }
  
  .revealed {
    filter: none; /* Remove o efeito de silhueta */
  }
  
  .input-container {
    margin-top: 20px;
  }
  
  #guess-input {
    padding: 10px;
    font-size: 16px;
    width: 250px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  #next-btn {
    margin-top: 20px;
  }
  