*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 2px;
    height: 100vh;
    width: 100vw;
}

.container>div{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 600;
}

#item1{
    background-color: red;
}

#item2{
    background-color: green;
}

#item3{
    background-color: purple;
}

#item4{
    background-color: crimson;
}

#item5{
     background-color: yellow;
}

#item6{
    background-color: crimson;
}

#item7{
    background-color: chocolate;
}

#item8{
    background-color: dodgerblue;
}

#item9{
    background-color: darkgoldenrod;
}

#item10{
    background-color: mediumvioletred;
}

#item11{
    background-color: olive;
}

#item12{
    background-color: lawngreen;
}

@media (max-width: 1280px) {
    .container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 1fr repeat(3,2fr) 1fr;
        gap: 5px;
    }
    #item1{
        grid-column: 1/5;
    }
    #item2{
        grid-row: 2/5;
    }
    #item12{
        grid-column: 1/5;
    }
}

@media (max-width: 480px){
    .container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2px;
    }
}

@media (max-width: 480px) and (orientation: landscape){
    .container{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 5px;
    }
}

