body{
    font-family: Arial, sans-serif;
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.todo-container{
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}
h2{
    text-align: center;
    margin-bottom: 20px
}
.todo-input{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.todo-input input{
    flex: 12px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.todo-input button{
    padding: 10px 20px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.todo-list{
    list-style: none;
    padding: 0;
}
.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.delete-btn{
    background: #e74c3c;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}
.done-btn{
    background: #4C39F7;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}
.done-btn-a{
    background: #ccddff;
}
.done{
    text-decoration: line-through;
}