body{
    font-family: Arial, Helvetica, sans-serif;
    background: #eda123;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
}

.todo-container{
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}

h2{
    text-align: center;
    margin-bottom: 20px;
}

.todo-input{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.todo-input input{
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid darkred;
    border-radius: 5px;
}

.todo-input button{
    padding: 10px 20px;
    background: #edc123;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.todo-list{
    list-style: none;
    padding: 0;
}

.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fe3454;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.delete-btn{
    background: #12e;
    color: whitesmoke;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.done-btn{
    background: rosybrown;
    color: whitesmoke;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.done-btn-a{
    background: #34e;
}

.done{
    text-decoration: line-through;
}