*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-2{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
    width: 100vw;
}


.container-2 > div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
}

.item1{
    background-color: blue;
    flex-direction: column;
    row-gap: 10px;
}

.item2{
    background-color: aqua;
}

.item3{
    background-color: brown;
    height: 50px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
}



button{
    background-color: rebeccapurple;
    border: none;
    color: black;
    width: 50px;
}