div.container{
    background-color: lightgreen;
    width: 50%;
    padding: 50px;
    border: 15px solid green;
    margin: 20px;

}
h2{
    background-color: lightgray;
    margin: 20px;
    width: 50%;
}
div.flex-container{
    display: flex;
    background-color: lightcyan;

    /*horizontal*/
    justify-content: center;

    /*vertical*/
    align-items: center;

    /*direcao do flex*/
    flex-direction: row;

    /* quebra-linha*/
    flex-wrap: wrap;
}
div.flex-container > div{
    background-color: red;
    width: 100px;
    margin: 10px;
    line-height: 75px;
    text-align: center;
    font-size: 30px;
    align-self: flex-end;
    align-content: 100px;
}

