.container{
    display: grid;
    grid-template-areas:
            "item1 item1 item2"
            "item4 item3 item2";
            /*"item1 item2 item3";*/
    grid-gap: 5px;
    grid-template-rows: repeat(4, 1fr);
    height: 100vh;
}

.container > div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

#item1{
    grid-area: item1;
    background-color: blueviolet;
}

#item2{
    grid-area: item2;
    background-color: orange;
}

#item4{
    grid-area: item4;
    background-color: seagreen;
}

#item3{
    grid-area: item3;
    background-color: lightgreen;
}