.container {
    display: grid;
    grid-template-areas:
            "item1 item1 item2"
            "item3 item4 item2";
    grid-gap: 5px;
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
}

.container > div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

#item1 {
    grid-area: item1;
    background-color: blueviolet;
}

#item2 {
    grid-area: item2;
    background-color: orange;
}

#item3 {
    grid-area: item3;
    background-color: seagreen;
}

#item4 {
    grid-area: item4;
    background-color: lightseagreen;
}