.container{
    display: grid;
    grid-template-areas:
        "header header header"
        "menu content content"
        "menu ads cc";
    grid-gap: 5px;
    grid-template-rows: repeat(3,1fr);
    height: 100vh;
}

.container > div{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight:600 ;
    font-family: Arial, Helvetica, sans-serif;
}


#header{
    grid-area: header;
    background-color: lightsalmon;
}

#menu{
    grid-area: menu;
    background-color: lightseagreen;
}

#content{
    grid-area: content;
    background-color: lightgreen;
}

#ads{
    grid-area: ads;
    background-color: red;
}

#cc{
    grid-area: cc;
    background-color: lightseagreen;
}
