*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    height: 100vh;
    grid-gap: 5px ;
}

.container>div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

#item1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2 ;
    background-color: blue;
}

#item2{
    grid-column-start: 3 / 4;
    grid-column-end: 1 / 2;
    background-color: orange;
}
#item3{
    grid-column-start: 1/2;
    grid-column-end: 2/3;
    background-color: green;
}

#item4{
    grid-column-start: 2/3;
    grid-column-end: 2/3;
    background-color: lightgreen;
}

#item5{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background-color: brown;
}
