*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 2px;
    height: 100vh;
}

@media (max-width: 1024px) {
    .container{
        display: grid ;
        grid-template-columns: repeat(1,1fr) ;
    }
    .item1{
        grid-column: 1/5;
    }
    .item2{
        grid-column: 1/5;
        align-items: center;
    }
    .item3{
        grid-column: 1/5;
        align-items: center;
    }
    .item4{
        grid-column: 1/5;
        align-items: center;
    }
}

.item1{
    background-color: rebeccapurple;

}
.item2{
    background-color: gold;
}
.item3{
    background-color: orange;
}
.item4{
    background-color: brown;
}
.item5{
    background-color: burlywood;
}
.item6{
    background-color: grey;
}
.item7{
    background-color: yellow;
}
.item8{
    background-color: red;
}


